
#pic{
    margin: 0 25%;
    text-align: center;
    margin-right: 400px;
}
#head{
    margin: 0 30%;
    text-align: center;
}
#list{
    margin: 0 35%;
    margin-right: -50px
    
}
#listin{
    margin: 0 40%;
}
li{
    padding-bottom: 10px;
}
